/**
  主题颜色 #07BC99
  粗字体颜色 #3B3B3B
  灰色字体颜色 #7A7A7A
*/
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  color: #222222;
  font-size: 14px;
  /* background-color: #f8f8f8; */
  background-color: #FFFFFF;
}

input,
button,
select,
textarea,
label {
  font-family: 'Microsoft YaHei', '微软雅黑', 'Helvetica Neue', Helvetica, Arial, 'PingFang SC', 'Hiragino Sans GB', sans-serif;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

html,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
input,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
textarea,
article,
aside,
audio,
canvas,
figure,
footer,
header,
mark,
menu,
nav,
section,
time,
video {
  margin: 0;
  padding: 0;
}

/* 粗字体颜色size设置 */
.gray_font_color {
  color: #7A7A7A;
  font-size: 15px; /*px*/
}

/* 底部导航的定位 */
.weui-tabbar {
  position: fixed !important;
}

/* 顶部导航的定位 */
.vux-header {
  top: 0;
  left: 0;
  z-index: 6;
  width: 100%;
}

/* 上边框 */
.border_top {
  border-top: 1px solid #E2E2E2;
}

/* 下边框 */
.border_bottom {
  border-bottom: 1px solid #E2E2E2;
}

.weui-search-bar:after {
  border-bottom: 1px solid #cccccc !important;
}

/* 全边框 */
.border_all {
  border: 1px solid #E2E2E2;
}

/* 搜索组件样式 */
.weui-search-bar__form:after {
  background: #F8F8F8 !important;
  border-radius: 20px !important;
  border: 0px solid #E6E6EA !important;
}

.weui-search-bar__form {
  background-color: #F8F8F8 !important;
}

.weui-search-bar__label {
  border-radius: 35px !important;
}

.weui-search-bar__box {
  border: 1px solid rgba(217, 217, 217, 0.6) !important;
  background: #FFFFFF !important;
}

/* 瀑布流 */
.vue-waterfall-easy-container .vue-waterfall-easy a.img-inner-box {
  border-radius: 10px !important;
  -moz-box-shadow:4px 4px 5px #e8e7e7;
  -webkit-box-shadow:4px 4px 5px #e8e7e7;
  box-shadow:4px 4px 5px #e8e7e7;
}

.vue-waterfall-easy-container .vue-waterfall-easy a.img-wraper > img {
  border-radius: 10px 10px 0px 0px !important;
  -moz-box-shadow:4px 4px 5px #e8e7e7;
  -webkit-box-shadow:4px 4px 5px #e8e7e7;
  box-shadow:4px 4px 5px #e8e7e7;
}

/* 表格input样式 */
.client_stock .weui-input {
  border: 1px solid #dcdee2;
  border-radius: 8px;
  width: 80%;
}

.client_stock .weui-input:focus {
  border: 1px solid #07BC99;
  box-shadow: 0 0 0 2px rgba(45,140,240,.2);
}

.scroller_rela {
  top: 0;
  left: 0;
  position: relative;
  background-color: #ffffff;
}

input::-webkit-input-placeholder {
  color: #aab2bd
}

/* 去掉cell组件的前后边框 */
.message_group .weui-cells:after {
  border-bottom: 1px solid #d9d9d9 !important;
}

.message_group .weui-cells:before {
  border-top: 1px solid #d9d9d9 !important;
}

.weui-btn::after {
  border: 1px solid rgba(0, 0, 0, 0.2) !important;
}

.vux-table:after {
  border-top: 1px solid #C7C7C7 !important;
}

.weui-cells:after {
  border-bottom: 1px solid #D9D9D9 !important;
}

.absolute_group .weui-cells {
  position: absolute !important;
  width: 100%;
}
.vux-table td:before, .vux-table th:before {
  border-bottom: 1px solid #C7C7C7 !important;
}

.table_border:after {
  border-right: 1px solid #c7c7c7 !important;
}

.vux-header .vux-header-left .left-arrow:before {
  border: 2px solid #fff !important;
  border-width: 2px 0 0 2px !important;
}

.weui-cell_access .weui-cell__ft:after {
  border-width: 2px 2px 0 0 !important;
}

.weui-cell:before {
  border-top: 1px solid #D9D9D9 !important;
}

.vux-1px-b:after {
  border-bottom: 1px solid #C7C7C7 !important;
}

.weui-tabbar:before {
  border-top: 1px solid #C0BFC4 !important;
}

.weui-cells:before {
  border-top: 1px solid #D9D9D9 !important;
}

.vux-cell-box:not(:first-child):before {
  border-top: 1px solid #D9D9D9 !important;
}

.vux-table td:after, .vux-table th:after {
  border-right: 1px solid #C7C7C7 !important;
}

.vux-header {
  top: -0.5px !important;
}