/**
  主题颜色 #07BC99
  粗字体颜色 #3B3B3B
  灰色字体颜色 #7A7A7A
*/
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  color: #222222;
  font-size: 14px;
  /* background-color: #f8f8f8; */
  background-color: #FFFFFF;
}

input,
button,
select,
textarea,
label {
  font-family: 'Microsoft YaHei', '微软雅黑', 'Helvetica Neue', Helvetica, Arial, 'PingFang SC', 'Hiragino Sans GB', sans-serif;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

html,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
input,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
textarea,
article,
aside,
audio,
canvas,
figure,
footer,
header,
mark,
menu,
nav,
section,
time,
video {
  margin: 0;
  padding: 0;
}

/* 粗字体颜色size设置 */
.gray_font_color {
  color: #7A7A7A;
  font-size: 15px; /*px*/
}

/* 底部导航的定位 */
.weui-tabbar {
  position: fixed !important;
}

/* 顶部导航的定位 */
.vux-header {
  top: 0;
  left: 0;
  z-index: 6;
  width: 100%;
}

/* 上边框 */
.border_top {
  border-top: 1px solid #E2E2E2;
}

/* 下边框 */
.border_bottom {
  border-bottom: 1px solid #E2E2E2;
}

.weui-search-bar:after {
  border-bottom: 1px solid #cccccc !important;
}

/* 全边框 */
.border_all {
  border: 1px solid #E2E2E2;
}

/* 状态栏 */
#head_state {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  display: none;
  color: #ffffff;
  position: fixed;
  background-color: #07BC99;
}

/* 搜索组件样式 */
.weui-search-bar__form:after {
  background: #F8F8F8 !important;
  border-radius: 20px !important;
  border: 0px solid #E6E6EA !important;
}

.weui-search-bar__form {
  background-color: #F8F8F8 !important;
}

.weui-search-bar__label {
  border-radius: 35px !important;
}

.weui-search-bar__box {
  border: 1px solid #E2E2E2 !important;
  background: #FFFFFF !important;
}

/* 瀑布流 */
.vue-waterfall-easy-container .vue-waterfall-easy a.img-inner-box {
  border-radius: 10px !important;
  -moz-box-shadow:4px 4px 5px #e8e7e7;
  -webkit-box-shadow:4px 4px 5px #e8e7e7;
  box-shadow:4px 4px 5px #e8e7e7;
}

.vue-waterfall-easy-container .vue-waterfall-easy a.img-wraper > img {
  border-radius: 10px 10px 0px 0px !important;
  -moz-box-shadow:4px 4px 5px #e8e7e7;
  -webkit-box-shadow:4px 4px 5px #e8e7e7;
  box-shadow:4px 4px 5px #e8e7e7;
}